nav {
    display:flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-between;
    background-color: #00002833;
    position: fixed;
    left: 30px;
    right: 30px;
    color: #ffffff;
    font-family: Cinzel, sherif;
    font-style: italic;
    font-weight: bold;
    z-index: 9999;
}

nav a {
    margin: 0 0 0 30px;
    font-size: 46px;
    left: 0;
    text-decoration: none;
    color : inherit;
}

nav button{
    margin: 0 30px 0 30px;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color:#BAA9FF;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #6938fe00;
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
}
nav button:hover{
    box-shadow: 0px 0px 10px white;
    transform: translateY(-3px);
}

nav ul {
    display: flex;
    right:0px;
    align-items: center;
    font-size: 25px;
    list-style-type: none;
}

nav ul li{
    transition: transform 0.3s ease;
}
nav ul li:hover {
    transform: translateY(-3px);
}

nav ul li a {
    margin: 0px 20px;
    list-style-type: none;
    font-size: 25px;
}


